*
!.gitignore
#######################################
# Quartus project files, design files
#######################################
!*.sdc
!*.qpf
!*.qsf
!*.v
!*.qsys 

# omit qsys file since user should generate it themselves
!add_kernels.tcl
add_kernels.qsys

#######################################
# scripts for testing hardware
#######################################
!system_console/
!system_console/*