*
!.gitignore
!README.pdf
#######################################
# Quartus project files, design files
#######################################
!*.sdc
!*.qpf
!*.qsf
!*.v
!*.qsys
#######################################
# IPs used by the design
#######################################
!ip/
!ip/*/
!ip/*/*.ip

#######################################
# outputs
#######################################
!output_files/
!output_files/*

#######################################
# scripts for testing hardware
#######################################
!system_console/
!system_console/*