# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for
# review when someone opens a pull request.
*       PM, @pmpeter1 , @tomlenth

# This owner owns any files in the given
# directory at the root of the repository and any of its
# subdirectories.
/DirectProgramming/DPC++/ PM, @moushumi-maria, @pmpeter1
/DirectProgramming/Jupyter/ PM, @praveenkk123
/DirectProgramming/C++/ PM, @pmpeter1 @Propanu
/DirectProgramming/Fortran/ PM, @pmpeter1 @Propanu
/Tools/ PM, @Propanu
/Libraries/ PM, @Propanu @mav-intel 
# Reviwers for all sample.json modification 
*sample.json @pfische1 @mkitez

# Reviewer for all readme files
*/README.md @tomlenth
