# Ignore generated Intel® Quartus® Prime files
qdb
DNI
.qsys_edit
*.qws

# Ignore generated RTL
pd_system
pd_system_tb

# ignore generated RTL for Platform Designer system
/ip/*/*/
!/ip/*/
!/ip/*/*.ip